* {
  box-sizing: border-box;
} 
.wrapper {
  width: 1000px;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "h h"
  "n a"
  "n f";
  background-color: skyblue;
}
header { 
  grid-area: h;
  width: 1000px;
  height: 20px;
}
nav {
  grid-area: n;
  width: 200px;
  height: 500px;
  background-color: antiquewhite;
}
article {
  grid-area: a;
  width: 500px;
  height: 500px;
  background-color: aliceblue;
}


.header {
  text-align: center;
}

footer {
  text-align: center;
 grid-area: f;
}